<!DOCTYPE html>
<html>
    <body>
        <h1><%= 5 + 3 %></h1>
         <h1><%= name %></h1>
          <a href="<%= url %>">test</a>
          <p>test</p>This is the home page</p>
        </body>
</html>